<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Media</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="body-full-details">

    <%- include("partials/nav.ejs") %>

        <h1 class="title-full-details">
            <%= movie.Title %> (<%= movie.Year %>)
        </h1>

        <div class="movie-details">
            <img src="<%= movie.Poster %>" alt="Poster" onerror="this.onerror=null; this.src='/img/noimage.png';">
            <p><strong>Plot:</strong>
                <%= movie.Plot %>
            </p>

            
            <div class="form-wrapper">
                <% if (movie.Type === 'series') { %>
                    <form class="addSeriesForm" action="/addSeries/<%= movie.imdbID %>" method="POST">
                        <input type="hidden" name="searchTitle" value="<%= searchTitle %>">

                        <input type="hidden" name="imdbId" value="<%= movie.imdbID %>">
                        <input type="hidden" name="showName" value="<%= movie.Title %>">
                        <input type="hidden" name="showImage" value="<%= movie.Poster %>">
    
                        <div class="form-group">
                            <label for="showStatus">Status:</label>
                            <select name="showStatus" id="showStatus" class="movieStatus" required>
                                <option value="">Select Status</option>
                                <option value="Watching">Watching</option>
                                <option value="Planned to Watch">Planned to Watch</option>
                                <option value="Completed">Completed</option>
                                <option value="Dropped">Dropped</option>
                            </select>
                        </div>
    
                        <br>
    
                        <div class="form-group">
                            <label for="comments">Comments:</label>
                            <textarea name="comments" id="comments" class="comments" rows="3" placeholder="Add your notes..."></textarea>
                        </div>
    
                        <br>

                        <div class="form-group">
                            <label for="rating">Rating:</label>
                            <input type="number" name="rating" id="rating" class="comments" placeholder="?/10" required>
                        </div>

                        <br>
    
                        <button id="saveChanges" class="media-button" type="submit">Add Media</button>
                    </form>
                <% } else { %>
                    <form class="addMediaForm" action="/addMedia/<%= movie.imdbID %>" method="POST">
                        <input type="hidden" name="searchTitle" value="<%= searchTitle %>">

                        <input type="hidden" name="imdbId" value="<%= movie.imdbID %>">
                        <input type="hidden" name="movieName" value="<%= movie.Title %>">
                        <input type="hidden" name="movieImage" value="<%= movie.Poster %>">
    
                        <div class="form-group">
                            <label for="movieStatus">Status:</label>
                            <select name="movieStatus" id="movieStatus" class="movieStatus" required>
                                <option value="">Select Status</option>
                                <option value="Watching">Watching</option>
                                <option value="Planned to Watch">Planned to Watch</option>
                                <option value="Completed">Completed</option>
                                <option value="Dropped">Dropped</option>
                            </select>
                        </div>
    
                        <br>
    
                        <div class="form-group">
                            <label for="comments">Comments:</label>
                            <textarea name="comments" id="comments" class="comments" rows="3" placeholder="Add your notes..."></textarea>
                        </div>

                        <br>

                        <div class="form-group">
                            <label for="rating">Rating:</label>
                            <input type="number" name="rating" id="rating" class="comments" placeholder="?/10" required>
                        </div>
    
                        <br>
    
                        <button class="media-button" type="submit">Add Media</button>
                    </form>
                <% } %>
            </div>
        </div>
        <br>

        <div style="text-align: center; margin-top: 20px;">
            <a id="backtoSearchBtn" href="/full-details/<%= movie.imdbID %>?title=<%=searchTitle %>">⬅ Back to
                Search</a>
        </div>

        <br><br>
</body>

</html>